
.header{
	font-weight: 300;
    margin:5px;
    font-size:28px;
    margin-top:10px;
}
.note{
    color:#BDBDBD;
    font-size:18px;
    margin-left:5px;
}
.response{
    display:flex;
    flex-wrap: wrap;
}
.questions{
    display: flex;
    flex-wrap: wrap;
    margin-left:10px;
    padding:5px;
}
.question{
    margin-left:10px;
    width: 250px;
}
.question .header{
    margin-left:5px;
    margin-bottom:10px;
}
.option{
    color:#BDBDBD;
    display: flex;
    align-items: center;
    /* cursor: pointer; */
}
.option .label{
    margin-left:5px;
    transition: all 0.2s;
}
.option.selected .label{
    color:#212121;
}


.navBar{
    /* position:fixed; */
    width:100%;
    margin:0;
    padding:5px 0px;
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    /* background: #212121;
	color:white; */
	margin-bottom: 20px;
}
.rightMenu{
    display: flex;
}
.menuItem{
    margin-right: 5px;
}
.menuItem:last-of-type{
    margin-right: 0px;
}