.thumbnail{
    border: 2px solid #BDBDBD;
    background-color: white;
    transition: all 0.2s;
    /* box-sizing: border-box; */
    margin: 5px;
}
/* .thumbnail:hover{
    border: 2px solid #212121;
} */
.thumbnail.selected{
    border: 2px solid #212121;
}