.button{
    padding: 8px 16px;
    box-sizing: border-box;
    border: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    user-select: none;
	text-decoration: none;
	margin:5px;
  transition: all 0.2s;
    background: white;
    font-size: 18px;
    color:#212121;
    opacity: 1.0;
  }
 

  .button:before{
    content: none;
    width: 0px;
    height: 0px;
    z-index: 10;
  }
  /* a:hover:before {
    transform: scaleX(1);
  } */
  .button:visited{ color: #212121 }

  
@media (hover:hover) {
  .button:hover{
    color:white;
    background-color: #212121;
  }
  .filled:hover{
    opacity: 0.8;
  }
}
