.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu{
  display: flex;

}
.menuItem{
  /*margin-right: 20px;*/
  width: 240px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 3px solid #EEEEEE;
}
.menuItem:hover{
  border-bottom: 3px solid #212121;
}

.title{
  width: 80%;
  margin-top: 35px;
}
.content{
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.questions{
  width: 50%;
}
.addQuestion{
  display: block;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
  color: #9E9E9E;
  border:2px dashed #9E9E9E;

}


.label{
}

.typeContainer{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.type{
  width: 100px;
  border: 2px solid #9e9e9e;
  cursor: pointer;
}
.type:hover{
  background-color: #F5F5F5;
}
.type .label{
  margin-top: 10px;
  font-size: 12px;
}
.type img{
  width: 48px;
}

.drawings{

  width: 50%;

}
