.container{
  width:100%;
  margin:5px;
}

.menu{
  display: flex;
}
.menuItem{
  padding: 8px 16px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    user-select: none;
	text-decoration: none;
	margin-right:20px;
	transition-duration: 0.2s;
	font-weight: 400;
  }
  
.menuItem.selected{
	/* color:white; */
  /* background-color: black; */
  border-bottom: 4px solid black;
}

.menuItem:hover{
  /* color:white; */
  /* background-color: black; */
  border-bottom: 4px solid black;
}

.content{
	margin-top:25px;
}