.container{
	width:100%;
}


.menuItem{
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 4px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
	text-decoration: none;
	text-transform: uppercase;
	margin-right:20px;
	transition-duration: 0.2s;
	font-weight: 400;
  }
  
.menuItem.selected{
	color:white;
	background-color: black;
}

.menuItem:hover{
  color:white;
  background-color: black;
}

.content{
	margin-top:20px;
}