.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 5px;
}

.section{
    /* background:#212121; */
    width: 100%;


    /* color:white; */
}
.nosupport{
    font-size: 32px;
    color:white;
    margin-bottom: 10px;
    background-color: red;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    
}
.subsection{
    width:100%;
    box-sizing: border-box;
    margin:20px 0px;
}
.subsection video{
    width: 100%;
    border:1px solid #eeeeee;
}

.publication{
    line-height: 1.2;
}
@media only screen and (min-width: 600px) {
    .firstsection {
        display: flex;
        justify-content: space-around;
    }
    .firstsection .subsection{        
        width:50%;
        margin-right:10px;
    }
    .container{
        margin: 100px 5px;
    }
}

.header{
    margin: 10px 10p 20px 0px;
    font-size: 48px;
    font-weight: 300;
}
.description{
    margin: 40px 0px 0px 0px;
    font-size:24px;
    font-weight: 300;
    line-height: 1.5;
}
.publication{
    line-height: 1.5;
}
.sectionTitle{
    margin: 5px 0px 10px 0px;
    font-size: 32px;
    font-weight: 300;
}
.pubMaterials{
    margin-top: 10px;
}
.pubTitle{
    font-size: 20px;
}
.venue, .authors{
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.5;
}