
.canvasContainer{
    position: relative;
    width:100%;
    margin-left:30px;
	box-sizing: border-box;
}
.canvas{
    border: 1px solid #BDBDBD;
    width:450px;
    height:450px;
    /* border-radius: 50%; */
    margin-left: 5px;
    touch-action: none;
}

.drawing{
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
  
}
.label{
	font-size: 14px;
	border-radius: 2px;
	background-color: #EEEEEE;
	box-sizing: border-box;
	color: #757575;
	padding: 4px;
	margin: 2px;
	display: inline-block;
}

.eraser{
	fill: none;
	stroke:gray;
	stroke-width: 2;
	stroke-dasharray: 5,5;
	stroke-opacity: 1;
	vector-effect: non-scaling-stroke;
}
.optionPanel{
    position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
    box-sizing: border-box; 
    top:50px;
    width:300px;
    /* border: 1px solid  rgba(0, 0, 0, 0.28); */
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.28);
	border: 2px solid black;
    /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
    background-color: #FFF;
    pointer-events: all;
    padding:10px 10px;
	transition: 0.5s all;
	opacity: 0.9;
    /* overflow-y: scroll; */
    
}
.button{
    padding: 8px 16px;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    user-select: none;
	text-decoration: none;
	text-transform: uppercase;
	margin:5px;
	transition-duration: 0.2s;
  }
.mute{
	border:0px;
}
.button:hover{
    color:white;
    background-color: #212121;
  }

.selectedTool{
	color:white;
	background-color: #212121;
}

.suggestions{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	max-width:450px;
	margin:0px 5px;

}
.suggestions p{
	min-width:120px;
	margin:0px;	
}
.thumbs{
	display: flex;
	overflow-x:auto;
	overflow-y:hidden;
	align-items: center;
	margin:0px;
}
.thumbs::-webkit-scrollbar-track{
	
	background:transparent;
}

.thumbs::-webkit-scrollbar{
	height: 8px;
	
}
.thumbs::-webkit-scrollbar-thumb{
	background:rgba(0,0,0,0);
	border-radius:5px
}
.thumbs:hover::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.15)
}
.suggestion{
	margin:5px;
	margin-top: 12px;
	flex: 0 0 auto;
}

.suggestion img{
	width:35px;
	height:35px;
}