.app{
  width: 1024px;
  margin: auto;
  padding: 25px;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color:#212121;
  display: flex;
  justify-content:center;
}
