
.progress{
	display:flex;
	flex-wrap: wrap;
	padding: 20px 0px 0px 5px ;
}


.bar{
	/* margin-left:10px; */
	width:90px;
	height: 2px;
	background-color:#212121;
}
.marker{
	/* position: absolute; */
	/* left:100px; */
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	border:2px solid #212121;
	background-color: white;
	color:#212121;

	user-select: none;
	text-decoration: none;
	/* border-radius: 50%; */
	transform: translate(0%, -50%);
	text-align: center;
	
	line-height: 26px;
	transition-duration: 0.2s;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 15px;
	
}
.marker:hover{

	/* border:2px solid #212121; */
	background-color: #212121;
	color:white;
}
.current.marker{


	/* border:2px solid white; */
	background-color: #212121;
	color:white;

}

.end.marker{
	background-color: white;
	width: 50px;
	height: 50px;	
	font-weight: 300;
	line-height: 45px;
	font-size:40px;
	margin-bottom: 0px;
    text-align: center;
	color: #212121;
	border:2px solid #212121;
	border-radius: 25px;
}
.end.marker:hover{
	color:white;
	background-color: #212121;
}


.button{
    padding: 8px 16px;
    box-sizing: border-box;
    border: 2px solid #212121;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    user-select: none;
	text-decoration: none;
	text-transform: uppercase;
	margin:5px;
	transition-duration: 0.2s;
  }
  

.button:hover{
  color:white;
  background-color: #212121;
}



.content{
	margin-top:-5px;
}

.columns{
	width:100%;
	display:flex;
	
}

.column{
	flex-grow: 1;
	flex-basis:0;
}

.header{
	margin: 20px 5px;
	font-size:24px;
}
