.container{
    cursor: pointer;
}
.header{
	font-weight: 500;
    margin:5px;
    margin-top:10px;
}
.note{
    color:#BDBDBD;
    font-size:14px;
    margin-left:5px;
}
.responses .canvas{
    width:225px;
    height:225px;
    /* border-radius: 50%; */
	margin:10px;
	margin-left:0px;
}
.canvas{
    border: 1px solid #BDBDBD;   
}



.drawing{
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
  
}

.legend{
	display:flex;
	flex-wrap: wrap;
}
.legend .item{
	box-sizing:border-box;
	padding:5px;
	margin:10px;
	margin-left:0px;
	min-width:225px;
}
.legend .question{
	font-weight: 500;
}
.legend .canvas{
    width:225px;
    height:225px;
    /* border-radius: 50%; */
	margin:10px;
	margin-left:0px;
}
.legend .thumbCanvas{
	width:40px;
	height:40px;
	border: 0px;
}
.legend .choice {
	margin: 10px;
	margin-left:0px;
	display: flex;
	align-items: center;
}
.legend .choice .text{
	margin-left:10px;
	cursor: pointer;
}
.drawing{
    position: relative;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    box-sizing: content-box;
    border: 2px solid #212121;
    background-color: white;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirmPopup{
    box-sizing: border-box;
    display: flex;
    /*justify-content: center;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
.deleteBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.2s all;
	/* color:white;
	font-size: 36px; */
  }